<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">%</span>
  <input
    type="text"
    class="form-control"
    placeholder="percentage"
    aria-describedby="basic-addon1"
    ng-model="$ctrl.initialPercent"
    ng-change="$ctrl.modifyInput($ctrl.initialPercent)"
  >
</div>

<br>
<span>{{$ctrl.initialPercent}}</span>
<div class="input-group">
  <span class="input-group-addon">$</span>
  <input
    type="text"
    placeholder="amount"
    class="form-control"
    aria-label="Amount (to the nearest dollar)"
    ng-model="$ctrl.initialAmount"
    ng-change="$ctrl.addPrefix($ctrl.initialAmount)"
  >
</div>

<br>

